header#document-header
    nav 
        .container
            justify-content: center
            margin: 0
        .logo
            margin: 0
            svg
                height: $header-logo-height
                @include media-breakpoint-up(desktop)
                    height: $header-logo-height-desktop

footer#document-footer
    .footer-site
        display: none
    @include media-breakpoint-up(desktop)
        .container
            justify-content: center
        .footer-legals
            .footer-credit,
            .nav-legal li,
            .nav-legal 
                display: inline-block
            .nav-legal li
                margin-right: $spacing-3